.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.header-container .name-title {
  background: linear-gradient(to top left, #5433ff, #20bdff, #a5fecb);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-container ul.segment-control {
  display: flex;
  list-style-type: none;
  background-color: rgb(232, 232, 234);
  border-radius: 980px;
  padding: 4px;
  transition: background-color 0.25s ease;
}

.header-container ul.segment-control li.option {
  padding: 5px 15px;
  font-weight: 500;
  border-radius: 980px;
  cursor: pointer;
  transition: opacity 0.15s ease, background-color 0.2s ease;
}

.header-container ul.segment-control li.option:not(.active):hover {
  opacity: 0.5;
}

.header-container ul.segment-control li.option.active {
  background-color: var(--primary-white-color);
}

body.dark-theme ul.segment-control {
  background-color: var(--segment-control-black-background);
}

body.dark-theme .header-container ul.segment-control li.option.active {
  background-color: var(--segment-control-black-active);
}
