.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.header-container .name-title {
  background: linear-gradient(to top left, #5433ff, #20bdff, #a5fecb);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.header-container ul.segment-control {
  display: flex;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 980px;
  padding: 4px;
}

.header-container ul.segment-control li.option {
  padding: 5px 15px;
  font-weight: 500;
  border-radius: 980px;
  cursor: pointer;
  transition: opacity 0.15s ease, background-color 0.2s ease;
}

.header-container ul.segment-control li.option:not(.active):hover {
  opacity: 0.5;
}

.header-container ul.segment-control li.option.active {
  background-color: var(--primary-white-color);
}
